<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DBfinal</display-name>
  <welcome-file-list>
    <welcome-file>Thome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DriverCheck</display-name>
    <servlet-name>DriverCheck</servlet-name>
    <servlet-class>com.psl.controller.DriverCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverCheck</servlet-name>
    <url-pattern>/DriverCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverController</display-name>
    <servlet-name>DriverController</servlet-name>
    <servlet-class>com.psl.controller.DriverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverController</servlet-name>
    <url-pattern>/DriverController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.psl.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLookup</display-name>
    <servlet-name>CustomerLookup</servlet-name>
    <servlet-class>com.psl.controller.CustomerLookup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLookup</servlet-name>
    <url-pattern>/CustomerLookup</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Tg</display-name>
    <servlet-name>Tg</servlet-name>
    <servlet-class>com.psl.controller.Tg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tg</servlet-name>
    <url-pattern>/Tg</url-pattern>
  </servlet-mapping>
</web-app>